* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", sans-serif;
	overflow-x: hidden;
	position: relative;
	background: rgb(0, 0, 0);
}
main {
	position: absolute;
}

.nav-header {
	min-height: 10vh;
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: rgb(255, 255, 255);
	width: 80%;
	margin: auto;
	padding: 2rem 0rem;
	z-index: 2;
	position: relative;
}
.left-side {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-header > .left-side a {
	margin-right: 3rem;
	color: rgb(255, 255, 255);
	text-decoration: none;
}
.line1,
.line2 {
	width: 3rem;
	height: 0.2rem;
	margin: 0.4rem;
	background: rgb(255, 255, 255);
	pointer-events: none;
}
.fa-film {
	pointer-events: none;
	position: absolute;
}
.film-svg {
	font-size: 15rem;
	color: rgba(252, 252, 252, 0.2);
}

.slide {
	min-height: 100vh;
	margin: 0 auto 0 auto;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: black;
	position: relative;
	background: black;
}
.scroll-btn {
	display: table;
	width: 2rem;
	height: 2rem;
	cursor: pointer;
	position: absolute;
	right: 20%;
	bottom: 15%;
}
.scroll-btn > a {
	text-decoration: none;
	display: table-cell;
	border-radius: 50%;
	background: rgba(255, 156, 98, 0.6);
}
.scroll-btn {
	-moz-animation: bounce 4s;
	-webkit-animation: bounce 4s;
	animation: bounce 4s;
}

.color-background {
	background: rgba(0, 0, 0, 0.7);
	height: 100%;
	z-index: 1;
	width: 100%;
	position: absolute;
	top: 0;
}
.intro-img {
	position: relative;
	flex: 1;
	flex-basis: 25rem;
	overflow: hidden;
	z-index: 1;
}

.intro-img img {
	min-height: 100vh;
	width: 100%;
	object-fit: cover;
	pointer-events: none;
}
.intro-text {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;
	z-index: 1;
	position: absolute;
	top: 20%;
}
.intro-text h2 {
	letter-spacing: 0.5rem;
	padding: 0.6rem;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 6vw;
	color: rgb(255, 255, 255);
}
.line-widget {
	display: flex;
	justify-content: center;
	padding: 1rem;
}
.line {
	width: 70vh;
	border: 0;
	height: 2px;
	background-image: linear-gradient(
		to right,
		rgba(243, 197, 159, 0),
		rgba(240, 194, 143, 0.75),
		rgba(0, 0, 0, 0)
	);
}
.line-intro {
	width: 70vw;
	border: 0;
	height: 2px;
	background-image: linear-gradient(
		to right,
		rgba(243, 197, 159, 0),
		rgba(240, 194, 143, 0.75),
		rgba(0, 0, 0, 0)
	);
}
.scroll-btn-intro {
	display: table;
	position: absolute;
	bottom: 30%;
	width: 50px;
	height: 50px;
	left: 50%;
	margin-left: -25px;
	cursor: pointer;
	z-index: 2;
	line-height: 50px;
}
.scroll-btn-intro > a {
	text-decoration: none;
	display: table-cell;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.4);
}
.scroll-btn-intro {
	-moz-animation: bounce 4s;
	-webkit-animation: bounce 4s;
	animation: bounce 4s;
}
.kamila-span {
	color: rgb(255, 139, 93);
}

.camera-span {
	color: rgb(255, 139, 93);
}

.kamila-desc {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
	flex-basis: 25rem;
	padding-left: 5rem;
	padding-right: 5rem;
	position: relative;
	color: white;
	background: black;
}
.kamila-img {
	position: relative;
	flex: 1;
	flex-basis: 25rem;
	overflow: hidden;
	z-index: 1;
	padding-left: 5rem;
}
.kamila-desc p {
	padding: 2rem 0rem;
	font-size: 1rem;
	color: rgb(255, 255, 255);
}
.line-widget {
	padding: 1.5rem;
	position: relative;
}
.line {
	width: 40vw;
	border: 0;
	height: 2px;
	background-image: linear-gradient(
		to right,
		rgba(0, 0, 0, 0),
		rgba(255, 182, 123, 0.75),
		rgba(0, 0, 0, 0)
	);
}

.kamila-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.kamila-desc h2 {
	font-size: 3rem;
}

.camera-img {
	position: relative;
	flex: 1;
	flex-basis: 25rem;
	overflow: hidden;
	padding-left: 5rem;
}
.camera-desc {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
	flex-basis: 25rem;
	padding-left: 5rem;
	padding-right: 5rem;
	position: relative;
	color: white;
	background: black;
}
.camera-desc h2 {
	font-size: 3rem;
	color: white;
}
.camera-desc p {
	padding: 2rem 0rem;
	font-size: 1rem;
	color: rgb(255, 255, 255);
}
.camera-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.films-span {
	color: rgb(255, 139, 93);
}

.films-desc {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
	flex-basis: 25rem;
	padding-left: 5rem;
	padding-right: 5rem;
	position: relative;
	color: white;
	background: black;
}
.films-img {
	position: relative;
	flex: 1;
	flex-basis: 25rem;
	overflow: hidden;
	padding-left: 5rem;
}

.films-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.films-desc h2 {
	font-size: 3rem;
	color: white;
}

.films-desc p {
	padding: 2rem 0rem;
	font-size: 1rem;
	color: rgb(255, 255, 255);
}

.nav-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(17, 11, 11);
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 1;
	opacity: 1;
	clip-path: circle(50px at 100% -10%);
	-webkit-clip-path: circle(50px at 100% -10%);
}
.burger {
	cursor: pointer;
}
.nav-links {
	font-size: 3rem;
	flex-basis: 30rem;
	color: white;
}
.nav-links h3 {
	padding: 3rem 0rem;
}
.contact {
	flex-basis: 30rem;
}
.contact h2 {
	font-size: 4rem;
	padding: 2rem 0rem;
	color: rgb(255, 139, 93);
}
.contact p {
	font-size: 1.5rem;
	line-height: 2rem;
	color: rgb(255, 139, 93);
}

.contact-insta,
.contact-twitter {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
}
.contact-insta a {
	color: white;
	text-decoration: none;
}

.reveal-img {
	position: absolute;
	width: 100%;
	height: 150%;
	background: rgb(0, 0, 0);
	left: 0;
	top: 0%;
}
.scroll-btn {
	display: table;
	position: absolute;
	bottom: -10%;
	width: 40px;
	height: 40px;
	left: 50%;
	margin-left: -25px;
	cursor: pointer;
	z-index: 2;
	line-height: 50px;
}
.scroll-btn > a {
	font-size: 2.5rem;
	text-decoration: none;
	text-align: center;
	display: table-cell;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.6);
}
.scroll-btn {
	-moz-animation: bounce 4s;
	-webkit-animation: bounce 4s;
	animation: bounce 4s;
}

.scrollmagic-pin-spacer {
	position: static !important;
}

body.hide {
	overflow: hidden;
}

@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	0% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}

@media screen and (max-width: 1024px) {
	main {
		width: 100%;
		margin: 0;
	}
	.slide {
		display: block;
		width: 100%;
		text-align: center;
	}
	.kamila-desc {
		padding: 0;
	}
	.kamila-img {
		height: 50vh;
		padding-top: 3rem;
		position: relative;
		padding-right: 3rem;
		padding-left: 3rem;
	}
	.kamila-desc h2 {
		font-size: 1.6rem;
		padding: 1rem 0rem;
	}
	.kamila-desc p {
		padding: 1rem 1rem;
		font-size: 1.1rem;
		line-height: 1rem;
		text-align: center;
	}
	.camera-desc {
		padding: 0;
	}
	.camera-img {
		height: 50vh;
		padding-top: 3rem;
		position: relative;
		padding-right: 3rem;
		padding-left: 3rem;
	}
	.camera-desc h2 {
		font-size: 1.6rem;
		padding: 1rem 0rem;
	}
	.camera-desc p {
		padding: 1rem 1rem;
		font-size: 1.1rem;
		line-height: 1rem;
		text-align: center;
	}
	.films-desc {
		padding: 0;
	}
	.films-img {
		height: 50vh;
		padding-top: 3rem;
		position: relative;
		padding-right: 3rem;
		padding-left: 3rem;
	}
	.films-desc h2 {
		font-size: 1.6rem;
		padding: 0.7rem 0rem;
	}
	.films-desc p {
		padding: 1rem 1rem;
		font-size: 1.1rem;
		line-height: 1rem;
		text-align: center;
	}

	.nav-bar {
		display: block;
	}
	.nav-links {
		padding-top: 4rem;
		font-size: 1rem;
		text-align: center;
	}
	.contact h2 {
		padding-bottom: 0;
		font-size: 2rem;
		text-align: center;
	}
	.contact p {
		line-height: 0.5rem;
		font-size: 0.6rem;
		padding: 1rem;
		text-align: center;
	}
}
@media screen and (max-width: 500px) {
	.kamila-desc h2 {
		font-size: 1.2rem;
	}
	.kamila-desc p {
		font-size: 0.7rem;
	}
	.camera-desc h2 {
		font-size: 1.2rem;
	}
	.camera-desc p {
		font-size: 0.7rem;
	}
	.films-desc h2 {
		font-size: 1.2rem;
	}
	.films-desc p {
		font-size: 0.7rem;
	}
}
