* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* scroll-behavior: smooth; */
}

body {
	background: #000000;
	font-family: "Montserrat", sans-serif;
	overflow-x: hidden;
}

.nav-header {
	min-height: 10vh;
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: rgb(0, 0, 0);
	width: 80%;
	margin: auto;
	padding: 2rem 0rem;
	z-index: 2;
	position: relative;
}

.nav-header > .left-side a {
	margin-right: 3rem;
	color: rgb(255, 255, 255);
	text-decoration: none;
}
.line1,
.line2 {
	width: 3rem;
	height: 0.2rem;
	margin: 0.4rem;
	background: rgb(255, 255, 255);
	pointer-events: none;
}

.reveal-text {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgb(0, 0, 0);
	left: 0;
	top: -15%;
}
.nav-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(17, 11, 11);
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 1;
	opacity: 1;
	clip-path: circle(50px at 100% -10%);
	-webkit-clip-path: circle(50px at 100% -10%);
}
.burger {
	cursor: pointer;
}
.nav-links {
	font-size: 3rem;
	flex-basis: 30rem;
	color: white;
}
.nav-links h3 {
	padding: 3rem 0rem;
}
.contact {
	flex-basis: 30rem;
}
.contact h2 {
	font-size: 4rem;
	padding: 2rem 0rem;
	color: rgb(255, 139, 93);
}
.contact p {
	font-size: 1.5rem;
	line-height: 2rem;
	color: rgb(255, 139, 93);
}

.contact-insta,
.contact-twitter {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
}
.contact-insta a {
	color: white;
	text-decoration: none;
}
.scrollmagic-pin-spacer {
	position: static !important;
}

body.hide {
	overflow: hidden;
}

.arrow-btn .fa-arrow-right {
	color: rgba(255, 139, 93);
	opacity: 0.5;
	border: none;
	padding: 1rem;
	cursor: pointer;
	font-size: 2.5rem;
	z-index: 1;
}
.arrow-btn .fa-arrow-right:hover {
	opacity: 1;
}
.arrow-btn .fa-arrow-left:hover {
	opacity: 1;
}

/* .arrow-btn .fa-arrow-left {
	color: rgba(255, 139, 93);
	opacity: 0.5;
	border: none;
	padding: 1rem;
	cursor: pointer;
	font-size: 2.5rem;
	z-index: 1;
}

.fa-arrow-left {
	position: absolute;
	bottom: 0;
	right: 10%;
} */
.fa-film {
	pointer-events: none;
	position: absolute;
	bottom: -20%;
}
.film-svg {
	font-size: 26rem;
	color: rgba(255, 139, 93, 0.2);
}

.gallery {
	min-height: 100vh;
	margin: 0 auto 0 auto;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: black;
	background: rgb(0, 0, 0);
	position: relative;
}

.main-gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 1rem;
	padding-top: 2rem;
}

.main-gallery img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
	transition: all 0.3s ease-out;
}
.photo-cell {
	height: 50vh;
	overflow: hidden;
}
.photo-cell img {
	filter: brightness(50%);
}
.photo-cell img:hover {
	transform: scale(1.1);
	filter: brightness(100%);
}

.modal {
	background: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	pointer-events: none;
}
.modal.open {
	opacity: 1;
	pointer-events: all;
}

.full-img {
	position: absolute;
	height: 70%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.5);
	transition: all 0.25s ease-out;
}
.full-img.open {
	transform: translate(-50%, -50%) scale(1);
}

.gallery-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
	flex-basis: 10rem;
	position: relative;
}
.line-widget {
	display: flex;
	justify-content: center;
	padding: 1rem;
}
.line {
	width: 80vw;
	border: 0;
	height: 2px;
	background-image: linear-gradient(
		to right,
		rgba(243, 197, 159, 0),
		rgba(240, 194, 143, 0.75),
		rgba(0, 0, 0, 0)
	);
}

.gallery-text p {
	padding: 1rem 0rem;
	font-size: 2vw;
	color: rgb(255, 255, 255);
}
.title h2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	letter-spacing: 0.6rem;
	text-transform: uppercase;
	color: white;
	font-size: 5vw;
}
@media screen and (max-width: 1024px) {
	main {
		width: 100%;
		margin: 0;
	}
	.nav-bar {
		display: block;
	}
	.nav-links {
		padding-top: 4rem;
		font-size: 1rem;
		text-align: center;
	}
	.contact h2 {
		padding-bottom: 0;
		font-size: 2rem;
		text-align: center;
	}
	.contact p {
		line-height: 0.5rem;
		font-size: 0.6rem;
		padding: 1rem;
		text-align: center;
	}
	.arrow-btn .fa-arrow-left {
		font-size: 1.5rem;
	}
	.arrow-btn .fa-arrow-right {
		font-size: 1.5rem;
	}
}
@media screen and (max-width: 760px) {
	.photo-cell img {
		filter: none;
		height: 60vh;
	}
}
@media screen and (max-width: 360px) {
	.photo-cell img {
		pointer-events: none;
	}
}
